<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mcommerce</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />

</head>
<body>


    <h1>Ocean</h1>

    <a th:href="@{|/espece/all|}" > Voir toutes les espece modifier une espece (a partir de la vous pourrez allez modifier un poisson)</a><br/>
    <a href="http://localhost:9900/poisson/formAjout" > formulaire pour ajouter un poisson</a><br/>
    supprimer un poisson pour cela il vous faut une id mais cela est disponible a l'url suivante : poisson/delete/{id}<br/>




<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>