<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Poisson</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />

</head>
<body>
<div th:each="p : ${listpoisson}" class="col-md-4 my-1">
    <form class="contact-form" role="form" th:action="@{|/poisson/update/${p.id}|}" method="POST">

        <input type="text" name="nom"  class="form-control"
               th:Value= "${p.nom}">
        <input type="text" name="image"  class="form-control"
               th:Value= "${p.img}">

        <img th:src="@{${p.img}}"  class="card-img-top" />
        <select name="especeId" style="width: 250px; height: 43px;">

            <div th:each="es : ${listespece}"  >
                <option th:value="@{|${es.id}|}" ><h1 th:inline="text" >
                    [[${es.nom}]]
                </h1>
                </option></div>

        </select>

        <button type="submit" class="btn btn-large">Modifier</button>
    </form>

</div>
</body>